fastapi
uvicorn
scikit-learn==1.6.1
pandas
joblib
numpy
imblearn
pydantic
python-multipart
xgboost
tldextract
pillow
requests
torch==2.7.0+cpu
torchvision==0.18.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu











